# GalaChain API Endpoints
VITE_BURN_GATEWAY_API=https://gateway-mainnet.galachain.com/api/asset/token-contract
VITE_BURN_GATEWAY_PUBLIC_KEY_API=https://gateway-mainnet.galachain.com/api/asset/public-key-contract
VITE_GALASWAP_API=https://api-galaswap.gala.com/galachain

# Project Configuration
VITE_PROJECT_ID=gem-store
VITE_PROJECT_API=http://localhost:4000
VITE_GEM_EXCHANGE_RATE=10
